body {
    border: none;
    margin: 0px 0px 0px 0px;
}

body.select_outputs {
    background-color: #e0e0e0;
}

.line,.circle {
    fill: none;
    stroke: orange; 
    stroke-width: 1px;
    pointer-events: none;
}

.line.highlighted, .circle.highlighted {
    stroke: red;
}

.line.sparkly, .circle.sparkly {
    stroke: #ffff80;
}

.line.output, .circle.output {
    stroke-width: 5px;
}


.hidden {
    visibility: hidden;
}


.controlpoint {
    pointer-events: none;
    fill: #0000b0;
}

.controlpoint.highlighted {
    stroke: black;
    stroke-width: 5px;
}

.controlpoint.sparkly {
    
    -webkit-animation: cp_sparkle 1.3s linear infinite;
       -moz-animation: cp_sparkle 1.3s linear infinite;
            animation: cp_sparkle 1.3s linear infinite;
}

@-webkit-keyframes cp_sparkle {
    0%   { fill: #0000b0; }
    50%  { fill: white;   }
    100% { fill: #0000b0; }
}

@-moz-keyframes cp_sparkle {
    0%   { fill: #0000b0; }
    50%  { fill: white;   }
    100% { fill: #0000b0; }
}

@keyframes cp_sparkle {
    0%   { fill: #0000b0; }
    50%  { fill: white;   }
    100% { fill: #0000b0; }
}


.intersectionpoint {
    pointer-events: none;
    fill: #00b000;
    stroke: #00b000;
}

.intersectionpoint.highlighted {
    fill: red;
    stroke: red;
}

.intersectionpoint.output {
    fill: none;
    stroke-width: 10;
}


.intersectionpoint.sparkly {
    
    -webkit-animation: isp_sparkle 1.3s linear infinite;
       -moz-animation: isp_sparkle 1.3s linear infinite;
            animation: isp_sparkle 1.3s linear infinite;
}


@-webkit-keyframes isp_sparkle {
    0%   { fill: #00b000; }
    50%  { fill: white;   }
    100% { fill: #00b000; }
}

@-moz-keyframes isp_sparkle {
    0%   { fill: #00b000; }
    50%  { fill: white;   }
    100% { fill: #00b000; }
}

@keyframes isp_sparkle {
    0%   { fill: #00b000; }
    50%  { fill: white;   }
    100% { fill: #00b000; }
}


.intersectionpoint0 {
    fill: red;
}

.intersectionpoint0.highlighted {
    stroke: black;
    stroke-width: 3;
}

.intersectionpoint0.sparkly {
    
    -webkit-animation: isp_sparkle0 1.3s linear infinite;
       -moz-animation: isp_sparkle0 1.3s linear infinite;
            animation: isp_sparkle0 1.3s linear infinite;
}


@-webkit-keyframes isp_sparkle0 {
    0%   { fill: red; }
    50%  { fill: white;   }
    100% { fill: red; }
}

@-moz-keyframes isp_sparkle0 {
    0%   { fill: red; }
    50%  { fill: white;   }
    100% { fill: red; }
}

@keyframes isp_sparkle0 {
    0%   { fill: red; }
    50%  { fill: white;   }
    100% { fill: red; }
}


.intersectionpoint1 {
    fill: blue;
}

.intersectionpoint1.highlighted {
    stroke: black;
    stroke-width: 3;
}

.intersectionpoint1.sparkly {
    
    -webkit-animation: isp_sparkle2 1.3s linear infinite;
       -moz-animation: isp_sparkle2 1.3s linear infinite;
            animation: isp_sparkle2 1.3s linear infinite;
}


@-webkit-keyframes isp_sparkle1 {
    0%   { fill: blue; }
    50%  { fill: white;   }
    100% { fill: blue; }
}

@-moz-keyframes isp_sparkle1 {
    0%   { fill: blue; }
    50%  { fill: white;   }
    100% { fill: blue; }
}

@keyframes isp_sparkle1 {
    0%   { fill: blue; }
    50%  { fill: white;   }
    100% { fill: blue; }
}
