body {
    border: none;
    margin: 0px 0px 0px 0px;
}

body.select_outputs {
    background-color: #e0e0e0;
}

svg.canvas {
	position: absolute;
}

svg.stamp {
	background-color: #EEEEEE;
	position: absolute;
	opacity: 0.95;
	border: 1px solid #D0D0D0;
}


.line,.circle {
    fill: none;
    stroke: #8080b0;
    stroke-width: 1px;
    pointer-events: none;
}

.line.highlighted, .circle.highlighted {
    stroke: red;
}

.line.sparkly, .circle.sparkly {
    stroke: #ffff80;
}

.line.output, .circle.output {
    stroke-width: 4px;
}


.hidden {
    visibility: hidden;
}


.controlpoint {
    pointer-events: none;
    stroke: black;
    stroke-width: 2px;
    fill: #8080e0;
}

.controlpoint.highlighted {
    fill: red;
}

.controlpoint.sparkly {
    
    -webkit-animation: cp_sparkle 1.3s linear infinite;
       -moz-animation: cp_sparkle 1.3s linear infinite;
            animation: cp_sparkle 1.3s linear infinite;
}

@-webkit-keyframes cp_sparkle {
    0%   { fill: #8080e0; }
    50%  { fill: white;   }
    100% { fill: #8080e0; }
}

@-moz-keyframes cp_sparkle {
    0%   { fill: #8080e0; }
    50%  { fill: white;   }
    100% { fill: #8080e0; }
}

@keyframes cp_sparkle {
    0%   { fill: #8080e0; }
    50%  { fill: white;   }
    100% { fill: #8080e0; }
}


.intersectionpoint {
    pointer-events: none;
    stroke: black;
    stroke-width: 1px;
    fill: white;
}

.intersectionpoint.highlighted {
    fill: red;
}

.intersectionpoint.output {
    fill: black;
}


.intersectionpoint.sparkly {
    
    -webkit-animation: isp_sparkle 1.3s linear infinite;
       -moz-animation: isp_sparkle 1.3s linear infinite;
            animation: isp_sparkle 1.3s linear infinite;
}


@-webkit-keyframes isp_sparkle {
    0%   { fill: red; }
    50%  { fill: white;   }
    100% { fill: red; }
}

@-moz-keyframes isp_sparkle {
    0%   { fill: red; }
    50%  { fill: white;   }
    100% { fill: red; }
}

@keyframes isp_sparkle {
    0%   { fill: red; }
    50%  { fill: white;   }
    100% { fill: red; }
}

