body {
    border: none;
    margin: 0px 0px 0px 0px;
}

.line,.circle {
    fill: none;
    stroke: orange; 
    stroke-width: 1px;
}

.line.highlighted, .circle.highlighted {
    stroke-width: 5px;
}

.line.sparkly, .circle.sparkly {
    stroke: #ffff80;
}


.hidden {
    visibility: hidden;
}


.controlpoint {
    stroke: black;
    stroke-width: 2px;
    fill: #0000d0;
}

.controlpoint.highlighted {
    stroke-width: 5px;
}

.controlpoint.sparkly {
    
    -webkit-animation: cp_sparkle 1.3s linear infinite;
       -moz-animation: cp_sparkle 1.3s linear infinite;
            animation: cp_sparkle 1.3s linear infinite;
}


@-webkit-keyframes cp_sparkle {
    0%   { fill: #0000d0; }
    50%  { fill: white;   }
    100% { fill: #0000d0; }
}

@-moz-keyframes cp_sparkle {
    0%   { fill: #0000d0; }
    50%  { fill: white;   }
    100% { fill: #0000d0; }
}

@keyframes cp_sparkle {
    0%   { fill: #0000d0; }
    50%  { fill: white;   }
    100% { fill: #0000d0; }
}


.intersectionpoint {
    stroke: black;
    stroke-width: 1px;
    fill: #00d000;
}

.intersectionpoint.highlighted {
    stroke-width: 3;
}



.intersectionpoint.sparkly {
    
    -webkit-animation: isp_sparkle 1.3s linear infinite;
       -moz-animation: isp_sparkle 1.3s linear infinite;
            animation: isp_sparkle 1.3s linear infinite;
}


@-webkit-keyframes isp_sparkle {
    0%   { fill: #00d000; }
    50%  { fill: white;   }
    100% { fill: #00d000; }
}

@-moz-keyframes isp_sparkle {
    0%   { fill: #00d000; }
    50%  { fill: white;   }
    100% { fill: #00d000; }
}

@keyframes isp_sparkle {
    0%   { fill: #00d000; }
    50%  { fill: white;   }
    100% { fill: #00d000; }
}

