body {
    border: none;
    margin: 0px 0px 0px 0px;
}

.line,.circle {
    fill: none;
    stroke: orange; 
    stroke-width: 1px;
}

.line.highlighted, .circle.highlighted {
    stroke-width: 5px;
}

.line.sparkly, .circle.sparkly {
    stroke: #ffff80;
}


.hidden {
    visibility: hidden;
}


.controlpoint {
    stroke: black;
    stroke-width: 2px;
    fill: blue;
}

.controlpoint.highlighted {
    stroke-width: 5px;
}

.controlpoint.sparkly {
    fill: #90b0ff;
}

.intersectionpoint {
    stroke: black;
    stroke-width: 1px;
    fill: green;
}

.intersectionpoint.highlighted {
    stroke-width: 3;
}

.intersectionpoint.sparkly {
    fill: #a0ffa0;
}
